<div ng-controller="mtHomeCtrl">	

	<div ng-repeat="question in perguntasModel">
		<div>
			<form class="form-horizontal">	
				<div class="row">
					<div class="col-md-12">
						<div class="panel" ng-class="panelClass[question.answered]">
							<div class="panel-heading" role="tab" id="headquestion">
								<div class="row">
									<div class="col-md-12 clicable" 
										 data-toggle="collapse" 
										 data-target="{{'#collapse' + $index}}" >
										 <div ng-class="wellclass">
										 <p><b>{{question.question}}</b> <small>(por: <a href="../Perfil?id={{question.id_user}}">{{question.user}}</a> em {{answer.data}})</small></p>
										 </div>
									</div>
								</div>
							</div>
							<div id="{{'collapse' + $index}}" 
								 class="panel-collapse collapse" 
								 role ="tabpanel" 
								 aria-labelledby="headquestion">
								 <div ng-repeat="answer in question.tblanswer">
									 <div class="panel-body">
										<div class="row">
											<div class="col-md-8">
												{{answer.answer}} <small>(por: <a href="../Perfil?id={{question.id_user}}">{{answer.user}}</a> em {{answer.data}})</small>
											</div>
											<div class="col-md-4 text-right">
												<div class="btn-group btn-group-xs" role="group" aria-label="...">
													<button type="button" class="btn btn-primary btn-lg">
													  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Correto
													</button>		

													<button type="button" class="btn btn-danger btn-lg">
													  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Errado
													</button>								

													<button type="button" class="btn btn-warning btn-lg">
													  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Denunciar
													</button>
												</div>	
											</div>
										</div>
									 </div>
								 </div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="alert alert-danger ng-hide" role="alert">
		{{errorMessage}}
	</div>

	<form class="form-horizontal">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-success">
					<div class="panel-heading" role="tab" id="headquestion">
						<div class="row">
							<div class="col-md-12 clicable" 
							     data-toggle="collapse" 
								 data-target="#collapse3" >
								Pergunta 1
							</div>
						</div>
					</div>
					<div id="collapse3" 
						 class="panel-collapse collapse" 
						 role ="tabpanel" 
						 aria-labelledby="headquestion">
						 <div class="panel-body">
							<div class="row">
								<div class="col-md-8">
									Resposta 1
								</div>
								<div class="col-md-4 text-right">
									<div class="btn-group btn-group-xs" role="group" aria-label="...">
										<button type="button" class="btn btn-primary btn-lg">
										  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Correto
										</button>		

										<button type="button" class="btn btn-danger btn-lg">
										  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Errado
										</button>								

										<button type="button" class="btn btn-warning btn-lg">
										  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Denunciar
										</button>
									</div>	
								</div>
							</div>
						 </div>
						 
						 <div class="panel-body">
							<div class="row">
								<div class="col-md-8">
									Resposta 2
								</div>
								<div class="col-md-4 text-right">
									<div class="btn-group btn-group-xs" role="group" aria-label="...">
										<button type="button" class="btn btn-primary btn-lg">
										  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Correto
										</button>		

										<button type="button" class="btn btn-danger btn-lg">
										  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Errado
										</button>								

										<button type="button" class="btn btn-warning btn-lg">
										  <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Denunciar
										</button>
									</div>	
								</div>
							</div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</form>

	
	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-heading" role="tab" id="headquestion">
						<div class="row">
							<div class="col-md-12 clicable" 
							     data-toggle="collapse" 
								 data-target="#collapse2" >
								Pergunta 2
							</div>
						</div>
					</div>
					<div id="collapse2" 
						 class="panel-collapse" 
						 role ="tabpanel" 
						 aria-labelledby="headquestion">
						 <div class="panel-body">
							<div class="row">
								<div class="col-md-8">
									Resposta 
								</div>
							</div>
						 </div>
						 
					</div>
				</div>
			</div>
		</div>
	</form>
		
</div>