<div ng-controller="mtQuestionController">
	<form class="form-horizontal">
		<fieldset>

		<legend>Envie dúvida</legend>
		
		<div class="alert alert-danger" ng-show="viewerror" role="alert">
			{{errorMessage}}
		</div>		

		<div class="form-group">
			<label class="col-md-3 control-label" for="formQuestion">Sua dúvida</label>  
			<div class="col-md-7">
				<input id="formQuestion" ng-model="formQuestion" name="formQuestion" type="text" placeholder="sua frase. ex: 'Não há nenhuma excessão nesse caso'" class="form-control input-md" required="">
				<span class="help-block">Insira uma frase ou uma palavra em português</span>  
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-3 control-label" for="btnEnviar"> </label>
			<div class="col-md-7">
				<button id="btnEnviar" name="btnEnviar" ng-click='SendQuestion();' class="btn btn-primary">Enviar</button>
			</div>
		</div>

		</fieldset>
	</form>

</div>