body{
	margin-top: 60px;
	margin-bottom: 60px;
}
p{
	margin: 0 !important;
}
.clicable{
	cursor:pointer;
}
.view{
	display:block;
}
.navbar-default {
    background-color:#0080FF;
    border-color:#004993;
}

.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-toggle{
    border:0;
}
.navbar-fixed-bottom{
    color:#fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
    color: #fff;

}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color:#0080FF;
    color:#fff;
}